  body {
      background-color: #FFFFFF;
  }

  html,
  body,
  .container {
      height: 98%;
  }

  .navbar {
      border-radius: 0px;
      background-color: #5F9EA0;
      color: white;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: white;
  }

  .navbar-inverse .navbar-nav>.active>a {
      background-color: #406c6d;
  }

  .navbar-inverse .navbar-brand {
      color: white;
  }

  .navbar-inverse .navbar-nav>a>:hover {
      background-color: red;
  }


  navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
      color: black;
      background-color: white;
  }

  .navbar-inverse .navbar-nav>a:hover {
      color: black;
      background-color: white;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
      background-color: white;
      color: black;
  }

  .container {
      display: table;
      width: 100%;
      margin-top: -50px;
      padding: 30px 0 0 0;
      box-sizing: border-box;
  }

  .row-main {
      height: 100%;
      display: table-row;
  }

  .row-main .no-float {
      display: table-cell;
      float: none;
  }

  .main-left {
      padding: 0px;
      background-color: #F0F8FF;
      border: 1px solid black;
      border-bottom: 0px;
  }

  .main-right {
      position: relative;
      height: 100%;
  }

  .main-right-top {
      position: relative;
      width: 100%;
      vertical-align: baseline;
      text-align: center;
      background-color: #406c6d;
      color: white;
      padding: 5px;
  }




  .main-right-top a {
      color: white;
      background-color: #406c6d;
  }


  .main-right-center {

      vertical-align: middle;
      min-height: 92%;
      background-color: silver;

  }


  .main-right-bot {

      border: 1px solid yellow;
  }



  .livre {
      position: relative;
      border: 1px solid black;
      float: left;
      width: 250px;
      min-height: 400px;
      text-align: center;
      font-size: 1.5em;
  }

  .photo {
      background-color: white;
      min-height: 300px;

  }

  .liste-livres {
      text-align: center;
      text-decoration: none;
      position: relative;
      transition: all 0.5s ease;
      background-color: #F0F8FF;
      border: 1px solid black;
      margin-bottom: 50px;
      min-height: 480px;
      max-height: 500px;

  }

  .image-liste-livres {
      padding-bottom: 10px;
  }

  .center {
      width: 150px;
      margin: 10px auto;
  }

  .modal-header,
  h4,
  .close {
      background-color: #5F9EA0;
      color: white !important;
      text-align: center;
      font-size: 30px;
  }

  .btn-login {
      background-color: #5F9EA0;
      color: white !important;
      text-align: center;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }

  .livre-left {
      background-color: red;

  }

  .slide-left {
      display: none;
  }

  .categ-left {
      background-color: #406c6d;
      border: 1px solid black;
      color: white;
      padding: 5px;
      font-weight: bolder;

  }

  .categ-livre {
      border-left: 5px solid orange;
      color: orange;

      background: linear-gradient(to right, orange 50%, #F5F5F5 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
  }

  .categ-livre:hover {
      cursor: pointer;
      background-position: left bottom;
      color: white;
  }


  .categ-manga {
      border-left: 5px solid black;
      color: black;

      background: linear-gradient(to right, black 50%, #F5F5F5 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
  }

  .categ-manga:hover {
      cursor: pointer;
      background-position: left bottom;
      color: white;
  }


  .categ-comics {
      border-left: 5px solid #8B008B;
      color: #8B008B;

      background: linear-gradient(to right, #8B008B 50%, #F5F5F5 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
  }

  .categ-comics:hover {
      cursor: pointer;
      background-position: left bottom;
      color: white;
  }

  .categ-bds {
      border-left: 5px solid #4169E1;
      color: #4169E1;

      background: linear-gradient(to right, #4169E1 50%, #F5F5F5 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
  }

  .categ-bds:hover {
      cursor: pointer;
      background-position: left bottom;
      color: white;
  }

  .ul-left {
      list-style: none;
      margin: 0px;
      padding: 0px;

  }

  .ul-left li {
      background-color: #F0F8FF;
      border-bottom: 1px solid black;
      padding: 2px;
      margin-left: 10px;

  }

  .ul-left li a {
      background-color: #F0F8FF;
      color: black;
  }

  .slogan-left {
      text-align: center;
  }

  .img-livre {
      position: relative;
      height: 310px;
      max-width: 430px;
      margin-top: 20px;
      display: flex;


  }

  .img-livre img {
      width: auto !important;
      height:  100%;
      text-align: center !important;
      margin: auto !important;
      display: block !important;

  }

  .description-livre {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      text-align: justify;
      transition: opacity .2s, visibility .2s;
      font-weight: bolder;
  }

  .img-livre:hover .description-livre {
      visibility: visible;
      opacity: 1;
  }


  .img-livre:hover img {
      visibility: visible;
      opacity: 0.1;
  }

  img:hover {
      opacity: 0.1;
  }

  .nomliste-livres {
      margin: 0;

  }

  .btn-primary {
      width: 100px;
  }

  .btn-lecture {

      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      bottom: 30px;
  }

  .button-toggle {
      position: absolute;
      left: 0;

  }

  .animer {
      color: lightgrey !important;
  }

  .animer:hover {
      color: white !important;
  }

  .footer-content {
      background-color: #5F9EA0;
  }

  .text-uppercase {
      font-weight: bolder;
      border-bottom: 1px solid white;
      padding: 5px;
  }

  .list-unstyled a {
      color: white;

  }

  .footer-copyright {
      background-color: #406c6d;
      padding: 5px;
      color: gray;
  }

  .retour-en-haut {
      background-color: #F5F5F5;
      padding: 5px;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .retour-en-haut a:link {
      text-decoration: none;
      color: black;
  }

  .retour-en-haut a:visited {
      text-decoration: none;
      color: black;
  }

  .retour-en-haut:hover,
  .retour-en-haut a:hover {
      width: 100%;
      background-color: #406c6d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
  }


  .footer-copyright a {
      color: white;
  }

  .text-description {
      color: white;
      text-align: justify;
  }

  .container-livres{
      margin-top: 1%;
  }