  body {
      background-color: #FFFFFF;
  }

  html,
  body,
  .container {
      height: 98%;
  }

  .navbar {
      border-radius: 0px;
      background-color: #5F9EA0;
      color: white;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: white;
  }

  .navbar-inverse .navbar-nav>.active>a {
      background-color: #406c6d;
  }

  .navbar-inverse .navbar-brand {
      color: white;
  }

  .navbar-inverse .navbar-nav>a>:hover {
      background-color: red;
  }


  navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
      color: black;
      background-color: white;
  }

  .navbar-inverse .navbar-nav>a:hover {
      color: black;
      background-color: white;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
      background-color: white;
      color: black;
  }

  .container {
      display: table;
      width: 100%;
      margin-top: -50px;
      padding: 30px 0 0 0;
      box-sizing: border-box;
  }

  .row {
      margin: 0px;
  }



  .modal-header,
  h4,
  .close {
      background-color: #5F9EA0;
      color: white !important;
      text-align: center;
      font-size: 30px;
  }

  .btn-login {
      background-color: #5F9EA0;
      color: white !important;
      text-align: center;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }

  .footer-content {
      background-color: #5F9EA0;
  }

  .text-uppercase {
      font-weight: bolder;
      border-bottom: 1px solid white;
      padding: 5px;
  }

  .list-unstyled a {
      color: white;

  }

  .footer-copyright {
      background-color: #406c6d;
      padding: 5px;
      color: gray;
  }

  .retour-en-haut {
      background-color: #F5F5F5;
      padding: 5px;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .retour-en-haut a:link {
      text-decoration: none;
      color: black;
  }

  .retour-en-haut a:visited {
      text-decoration: none;
      color: black;
  }

  .retour-en-haut:hover,
  .retour-en-haut a:hover {
      width: 100%;
      background-color: #406c6d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
  }


  .footer-copyright a {
      color: white;
  }

  .text-description {
      color: white;
      text-align: justify;
  }

  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
  }

  .erreur {
      text-align: justify;
      font-size: 2em;
      border-top: 1px solid black;
  }

  .img-erreur {
      width: 100px;
      height: auto;
     
  }

  .img-hero img {
      width: 400px;
      height: auto;
      border-top: 1px solid black;


  }

  .erreur h1{

        text-transform: uppercase;
        font-family: verdana;
        font-size: 5em;
        font-weight: 700;
        color: grey;
        text-shadow: 1px 1px 1px lightgrey,
            1px 2px 1px lightgrey,
            1px 3px 1px lightgrey,
            1px 4px 1px lightgrey,
            1px 5px 1px lightgrey,
            1px 6px 1px lightgrey,
            1px 7px 1px lightgrey,
            1px 8px 1px lightgrey,
            1px 9px 1px lightgrey,
            1px 10px 1px lightgrey;
    
  }

  .erreur h3{
   
    font-size: 1.5em;
}

