html {
    position: relative;
    min-height: 100%;
}

.navbar {
    border-radius: 0px;
    background-color: #5F9EA0;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #406c6d;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>a>:hover {
    background-color: red;
}


navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: white;
}

.navbar-inverse .navbar-nav>a:hover {
    color: black;
    background-color: white;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: white;
    color: black;
}

.footer-content {
    background-color: #5F9EA0;
}

.text-uppercase {
    font-weight: bolder;
    border-bottom: 1px solid white;
    padding: 5px;
}

.list-unstyled a {
    color: white;

}

.footer-copyright {
    background-color: #406c6d;
    padding: 5px;
    color: gray;
}

.retour-en-haut {
    background-color: #F5F5F5;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.retour-en-haut a:link {
    text-decoration: none;
    color: black;
}

.retour-en-haut a:visited {
    text-decoration: none;
    color: black;
}

.retour-en-haut:hover,
.retour-en-haut a:hover {
    width: 100%;
    background-color: #406c6d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.footer-copyright a {
    color: white;
}

.text-description {
    color: white;
    text-align: justify;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.edit-text {
    height: 600px;
    border: 1px solid red; 
}

.btn-ajouter-page{
    width: 80%;
    margin-left: 10%;

}

.panel{
    margin-bottom: 5px;
}

#edit-text input{
    width: 100%;
}

.editeur-text{
    margin-bottom: 5px;
}

.text-view .row {
    overflow: auto;
    height: 600px;

}

.main-left {
    position: relative;
    height: 100%;
    border: 1px solid blue;
}

.main-right {
    position: relative;
    height: 100%;
    border: 1px solid blue;
}

.row-main {
    height: 100%;
    display: table-row;
}


.container {
    display: table;
    width: 100%;
    box-sizing: border-box;
}


.page {
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2px;
}


.choix {
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 2px;

}

.div-btn button {
    width: 80%;
    margin-left: 10%;
}

.div-btn .btn-success {
    position: absolute;
    bottom: 0;

}

.choix label {
    position: absolute;
    border: 1px solid black;
    transition: 0.2s ease-out;
    width: 90%;
    top: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
}

.choix input {
    opacity: 0;
}

.choix label:hover {
    border: 1px solid #ff9900;
    color: #ff9900;
    cursor: pointer;
}

.choix input:checked+label {
    background-color: #3bc4cc;
    color: #fff;
    border-color: #3bc4cc;
}

.page label {
    position: absolute;
    border: 1px solid black;
    transition: 0.5s ease-out;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    color:black;
}

.page input {
    opacity: 0;
}

.page label:hover {
    border: 1px solid #ff9900;
    color: #ff9900;
    cursor: pointer;
}

.page input:checked ~ label {
    background-color: #3bc4cc;
    color: #fff;
    border-color: #3bc4cc;
}