body{
    margin:0;
}

nav{
    height:50px;
    border:2px solid blue;
    margin: 0;
}

#actu{
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
    height: 500px;
    width: 250px;
    float: left;
    text-align: center;
}

#h32{
    border: 1px solid black;
    height: 250px;
}

#h33{
    border: 1px solid black;
    height: 150px;
}

#test{
    margin-top: 10px;
    height: 500px;
    width:220px;
    float: right;
    margin-right: 20px;
}

#test ul li{
    list-style-type: none;

}

.cadre{
    border: 1px solid black;
    width: 180px;
    height: 40px;
    text-align:center;
    margin: 0;
}

.bigcadre{
    border: 1px solid black;
    width: 180px;
    height: 140px;
    text-align:center;
    margin: 0;

}

#caroussel{
    margin-left: 20px;
    margin-top: 20px;
    float:left;
    border: 1px solid black;
    height: 350px;
    width: 650px;
}



footer p{
    float:left;
    margin-left: 20px;
    margin-right: 40px;
}

footer{
    position: fixed;
    bottom: 0;
    border: 2px solid black;
    margin-left: 0;
    margin-right: 0;
    width:100%;
}