.container {
    display: table;
    width: 100%;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.row-main {
    height: 100%;
    display: table-row;
}

.row-main .no-float {
    display: table-cell;
    float: none;
}

h1{
    font-size: 4em;

}


.main-left {
    padding: 0px;
    background-color: #F0F8FF;
    border: 1px solid black;
    border-bottom: 0px;
}

.main-right {
    height: 100%;
}

.main-right-top {
    position: relative;
    width: 100%;
    vertical-align: baseline;
    text-align: center;
    background-color: #406c6d;
    color: white;
    padding: 5px;
}




.main-right-top a {
    color: white;
    background-color: #406c6d;
}


.main-right-center {

    vertical-align: middle;
    min-height: 92%;
    background-color: silver;

}


.main-right-bot {

    border: 1px solid yellow;
}



.livre {
    position: relative;
    border: 1px solid black;
    float: left;
    width: 250px;
    min-height: 400px;
    text-align: center;
    font-size: 1.5em;
}

.photo {
    background-color: white;
    min-height: 300px;

}

.liste-livres {
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease;
    background-color: #F0F8FF;
    border: 1px solid black;
    margin-top: 10%;
    min-height: 430px;
    max-height: 450px;

}

.image-liste-livres {
    padding-bottom: 10px;
}

.center {
    width: 150px;
    margin: 10px auto;
}







.livre-left {
    background-color: red;

}

.slide-left {
    display: none;
}

.categ-left {
    background-color: #406c6d;
    border: 1px solid black;
    color: white;
    padding: 5px;
    font-weight: bolder;

}

.categ-livre {
    border-left: 5px solid orange;
    color: orange;

    background: linear-gradient(to right, orange 50%, #F5F5F5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.categ-livre:hover {
    cursor: pointer;
    background-position: left bottom;
    color: white;
}


.categ-manga {
    border-left: 5px solid black;
    color: black;

    background: linear-gradient(to right, black 50%, #F5F5F5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.categ-manga:hover {
    cursor: pointer;
    background-position: left bottom;
    color: white;
}


.categ-comics {
    border-left: 5px solid #8B008B;
    color: #8B008B;

    background: linear-gradient(to right, #8B008B 50%, #F5F5F5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.categ-comics:hover {
    cursor: pointer;
    background-position: left bottom;
    color: white;
}

.categ-bds {
    border-left: 5px solid #4169E1;
    color: #4169E1;

    background: linear-gradient(to right, #4169E1 50%, #F5F5F5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.categ-bds:hover {
    cursor: pointer;
    background-position: left bottom;
    color: white;
}

.ul-left {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.ul-left li {
    background-color: #F0F8FF;
    border-bottom: 1px solid black;
    padding: 2px;
    margin-left: 10px;

}

.ul-left li a {
    background-color: #F0F8FF;
    color: black;
}

.slogan-left {
    text-align: center;
}

.img-livre {
    position: relative;
    height: 280px;
    max-width: 430px;
    margin-top: 20px;
    display: flex;


}

.img-livre img {
    width: auto !important;
    height:  100%;
    text-align: center !important;
    margin: auto !important;
    display: block !important;

}

.description-livre {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: justify;
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
}

.img-livre:hover .description-livre {
    visibility: visible;
    opacity: 1;
}


.img-livre:hover img {
    visibility: visible;
    opacity: 0.1;
}

img:hover {
    opacity: 0.1;
}

.nomliste-livres {
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

}

.btn-primary {
    width: 100px;
}

.btn-lecture {

    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

.button-toggle {
    position: absolute;
    left: 0;

}

.animer {
    color: lightgrey !important;
}

.animer:hover {
    color: white !important;
}

.container-livres{
    background-color: #F5F5F5;
    border-right: 1px solid black;
    padding-bottom: 5%;
}

.header-main{
    background-color:  #5F9EA0!important;
    color: white;
    padding:  30px 0;
    text-align: center;
}

.main{
    width: 80%;
    background-color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}
