h2,h1 {
    text-align: center;
}
h1{
    font-size: 4em;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}
body{
    background-color: #EEEEEE;
}

.mainPage{
    background-color: #fff;
    /*border-radius: 15px  15px 0  0;*/
    padding-bottom : 30px;

}

.etoile {
    color: gold;
    font-size: 20px;
}

.coverBook {
    box-shadow: lightgrey 0 0 6px;
}



.itemLecture{
    background-color: #406c6d;
    color: white;
    font-family: Arial;
}

.itemLecture ul{
}

.itemLecture li{
    font-family: Arial;
    display: inline-block;
    padding: 15px 15px 5px 15px;
    margin: 0 15px;
    color: lightgray;
}

.itemLecture li:hover{
    color: white;
}

.menuLecture{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    /*border-radius: 15px  15px 0  0;*/
    background-image: url("../../../ressource/img/wallpaperReader.png");
    background-size: cover;
}


.profil{
    border-bottom: 1px solid black;
    font-style: italic;
    font-weight: bolder;

}

.comment{
    margin-bottom: 5%;
    border-bottom: 5px double #406c6d;
}

.add-comment{
    margin-bottom: 5%;
    border-bottom: 5px solid rgb(41, 40, 40);
}


.cover {
    text-align: center;
    margin-top: 2%;
}


.icon-button-up,.icon-button-down {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.icon-button-up{
    color: blue;
}

.icon-button-down{
    color: red;
}

.icon-button-up:hover {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: rgb(58, 58, 189);
}

.icon-button-down:hover {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: rgb(190, 46, 46);
}

.formulaire{
    margin-bottom: 8%;
}

.md-form{
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-annuler{
    margin-right: 2%;
}




