.main{
    width: 80%;
    background-color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%
}


.livre {
    position: relative;
    height: 300px;
    padding: 0;
    margin-bottom: 3%;
    
}

.container {
    display: table;
    width: 100%;
    box-sizing: border-box;
    background-color: #F5F5F5;
    border-right: 2px solid black;
    border-left: 2px solid black;
    height: 90%


}

.menuLecture{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    background-size: cover;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid black;


}

h2,h1 {
    text-align: center;
}
h1{
    font-size: 4em;

}


.contenu-livre {
    border: 1px solid black;
    border-radius: 3px;
    /*background-color: #595959;
    background-image: url("../upload/0.jpg");*/
    background-color: #F0F8FF;
    height: 100%;
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}

.btn-ajouter{
    /*background-color: #595959;
    background-image: url("../upload/0.jpg");*/
    height: 100%;
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}


.top-livre {
    /*border-bottom:1px solid black;*/
    height: 75%;
    padding-top: 2%;
}

.bottom-livre {
    border-top: 1px solid black;
    height: 15%;

}

.bottom-livre-left {
    display: inline-block;
    width: 50%;
    border-right: 1px solid black;
    height: 100%;
    padding: 0;


}

.bottom-livre-right {
    text-align: right;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 0;


}

.btn-bottom-livre {
    height: 100%;
    width: 100%;
    border: 0;
}

.btn-bottom-livre {
    height: 100%;
    width: 100%;
    border: 0;
}

.btn-supprimer-livre {
    height: 100%;
    width: 100%;
}

.btn-ajouter .btn-default:hover {
    background-color: #255783;
}

.contenu-livre .btn {
    border-radius: 0px;
}

.btn-ajouter .btn-default {
    background-color: #337ab7;
    color : white;
    border-radius: 1%;
}

.bottom-livre-left .btn-default {
    background-color: rgba(101, 81, 230, 0.863);
}

.bottom-livre-left .btn-default:hover {
    background-color: rgba(80, 68, 158, 0.781);
}


.bottom-livre-right .btn-default {
    background-color: rgba(207, 64, 64, 0.733);

}

.bottom-livre-right .btn-default:hover {
    background-color: rgba(161, 52, 52, 0.733);

}



.image {
    border-radius: 3px;
    border: 2px solid black;
    -webkit-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
}

.btn-ajouter-livre {
    font-size: 600%;
}

.title {
    text-align: center;
    vertical-align: middle;
}

.div-title {
    height: 10%;
    /*background-color: #f8f8f8;
    color: black;*/
    background-color: #F0F8FF;
    color: black;
    font-weight: bolder;
    font-style: italic;

}

.div-title p {
    padding-top: 1.5%;
}


.liste-livre {
    padding-top: 15px;
    height: 100%
}

.addBook {
    width: 25%;
    margin-left: 75%;
    background-color: green;
    color: white;
}

.modal-footer-create {
    text-align: center;
}

.blue {
    /*color:	#6A5ACD;*/
    color: white;
}


.red {
    /*olor:#CD5C5C;*/
    color: white;
}

.image {
    width: auto !important;
    height: 100%;
    text-align: center !important;
    margin: auto !important;
    display: block !important;

}