  body {
      background-color: #FFFFFF;
      height: 30%;
  }

  html,
  body,
  .container {
      height: 30%;
  }

  .container {
      display: table;
      width: 100%;
      height: 100%;
      margin-top: -50px;
      padding: 30px 0 0 0;
      box-sizing: border-box;
  }

  .row-erreur {
      margin: 0px;
      border-left: 10px double black;
      border-right: 10px double black;
      height: 100%;
  }

  .main{
    width: 90%;
    height: 79%;
    background-color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.menuLecture{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    background-size: cover;
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid black;


}



  .modal-header,
  h4,
  .close {
      background-color: #5F9EA0;
      color: white !important;
      text-align: center;
      font-size: 30px;
  }



  .erreur {
      text-align: justify;
      font-size: 2em;
      
     
  }

  .img-erreur {
      width: 100px;
      height: auto;
     
  }

  .img-hero img {
      width: 400px;
      height: auto;


  }

  .erreur h1{

        text-transform: uppercase;
        font-family: verdana;
        font-size: 3em;
        font-weight: 300;
        color: grey;
        text-shadow: 1px 1px 1px lightgrey,
            1px 2px 1px lightgrey,
            1px 3px 1px lightgrey,
            1px 4px 1px lightgrey,
            1px 5px 1px lightgrey,
            1px 6px 1px lightgrey,
            1px 7px 1px lightgrey,
            1px 8px 1px lightgrey,
            1px 9px 1px lightgrey,
            1px 10px 1px lightgrey;
    
  }

  .erreur h3{
   
    font-size: 1.5em;
}

