.footer-content {
    /*background-color: #5F9EA0;*/
    background-color: #222222;
    color: silver;
}

.text-description {
    text-align: justify;
}

.text-uppercase {
    font-weight: bolder;
    border-bottom: 1px solid white;
    padding: 5px;
    color: gray;
}

footer a {
    color: silver;
}
footer a:hover {
    color: white;
    text-decoration: none;
}

.footer-copyright {
    /*background-color: #406c6d;*/
    padding: 5px;
    background-color: #000;
    color: gray;
}

.footer-copyright a {
    color: silver;
}

footer {
    width: 100%;
    height: 100px;
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
    display : table;
    width: 100%;
}