.main{
    width: 80%;
    background-color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}


main{
    height: calc(100vh);
    overflow: scroll;
    max-height: calc(100vh);
    background-image: url("../../../ressource/img/cover/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.actu{
    margin-top: 20px;
    height: 550px;
    text-align: center;
    background-color: rgb(65, 87, 113);
    color: white;
    border: 2px solid rgb(62, 56, 70);
    margin-bottom: 10px;
}

.actu img{
    width: 300px;
    height: 400px;
}

#menuCol{
    height:100%;
    width: 100%;
    background-color:rgb(62, 56, 70);
}

#menuCol button{
    background-color: rgb(65, 87, 113);
    border: 1px solid black;
    color: white;
    border-radius: 2px;
    margin-bottom: 1px;
}


#carousel-example-generic{
    height: 600px;
    width: 100%;
    background-color:rgb(62, 56, 70);
    color: white;
    text-align: center;
}

#carousel-example-generic1{
    margin-top: 17px;
}

.intro{
    background-color:rgb(62, 56, 70);
    color: white;
    border: 2px solid rgb(65, 87, 113);
    text-align: center;
}

#choice{
    margin-bottom: 20px;
}

#choix-info{
    margin-bottom: 20px;
}

.cadre{
    width: 100%;
    height: 40px;
    text-align:center;
    margin: 0;
}


.bigcadre{
    margin: auto;
    width: auto;
    height: auto;
    text-align:center;
}

.bigcadre a{
    color: white;
}

.bigcadre a:hover{
    color: white;
}


.item h3{
    margin-top: 30px;
   text-align: center;
}

#carousel-example-generic img{
    width: auto !important;
    height: 600px !important;
}

#carousel-example-generic1 img{
    width: 100% !important;
    height: 400px !important;
}


.input-group input{
    height: inherit;
}


.liste-livres {
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease;
    background-color: #F0F8FF;
    border: 1px solid black;
    margin-bottom: 50px;
    min-height: 480px;
    max-height: 500px;

}

.livre {
    position: relative;
    border: 1px solid black;
    float: left;
    width: 250px;
    min-height: 400px;
    text-align: center;
    font-size: 1.5em;
}

#lecture, #ecrivain, #support, #tribunal{
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-color: black;
}
#lecture{
    background-image: url("../upload/background_home/lecture.png");

}

#ecrivain{
    background-image: url("../upload/background_home/ecrivain.png");
}
#support{
    background-image: url("../upload/background_home/support.png");
}
#tribunal{
    background-image: url("../upload/background_home/tribunal.png");
}

.item{
    height: 600px;
}

.image-liste-livres {
    padding-bottom: 10px;
}

.img-livre {
    position: relative;
    height: 310px;
    max-width: 430px;
    margin-top: 20px;
    display: flex;


}

.img-livre img {
    width: auto !important;
    height:  100%;
    text-align: center !important;
    margin: auto !important;
    display: block !important;

}

.description-livre {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: justify;
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
}

.img-livre:hover .description-livre {
    visibility: visible;
    opacity: 1;
}


.img-livre:hover img {
    visibility: visible;
    opacity: 0.1;
}

img:hover {
    opacity: 0.1;
}


.nomliste-livres {
    margin: 0;

}


.btn-lecture {
    width: 150px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

.carousel{
    margin-bottom: 2%;
    margin-top: 2%;
}

.header-main{
    background-color:  #5F9EA0;
    color: white;
    padding:  30px 0;
    text-align: center;
}