main{
    height: calc(100vh);
    overflow: scroll;
    max-height: calc(100vh);
    background-image: url("../../../ressource/img/cover/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.input-group input{
    height: inherit;
}
.navbar{
    border-radius: 0px ;
    margin: 0;
}

.modal-header,h4,.close{
    background-color: #5F9EA0;
    color: white !important;
    text-align: center;
    font-size: 30px;
}
.btn-signin{
    background-color: #5F9EA0;
    color: white !important;
    text-align: center;
}
.modal-footer {
    background-color: #f9f9f9;
}

.navbar-header a,.navbar-header li{
    color: grey;
    text-decoration: none;
}

