h2,h1 {
    text-align: center;
}
h1{
    font-size: 4em;
}
body{
    background-color: #EEEEEE;
    height: 100%;
}

.mainPage{
    background-color: #fff;
    padding-bottom : 30px;
    min-height: 100vh;

}

.menuHeader{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    background-size: cover;
}


.items form {
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
    
}


table{
    width: 90% !important;
    margin: auto;
}

.card{
    border-top: 3px solid lightgrey;
}

.pt-3-half {
    padding-top: 1.4rem;
}

.titre {
    width: 70% !important;
}


.hiddenFileInput>span>input {
    height: 100%;
    width: 100;
    opacity: 0;
    cursor: pointer;
}




