section {
    color : white;
}

section.titre {
    background-color: #5F9EA0;
}

section.action{
    padding : 10px;
}

div.fenetre {

    background-color : #5F9EA0;
    margin-top : 30px;
    padding: 10px;
    width : 100%;
    border-radius : 5px;
}

.fenetre ul{
    list-style: none;
    padding-left: 0;
}
.fenetre ul li{
    display: block;
    text-align: center;
}

li input{
    width: 45%;
    color : grey;
}

table {
    width : 100%;
    margin-top : 30px;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}

table td{
    border-bottom : 1px groove white;
    padding : 10px;
    background-color : #5F9EA0;
}

.name {
    width : 47%;
}

.mail {
    width : 47%;
}

.delete {
    width : 6%;
}