h2,h1 {
    text-align: center;
}
h1{
    font-size: 4em;
    font-family: 'Audiowide', cursive;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}
body{
    background-color: #EEEEEE;
    height: 100%;
}

.mainPage{
    background-color: #fff;
    /*border-radius: 15px  15px 0  0;*/
    padding-bottom : 30px;
    min-height: 100vh;

}

.cover {
    text-align: center;
    margin-top: 2%;
}


.page{
    margin-top: 2%;
}
.etoile {
    color: gold;
    font-size: 20px;
}

.coverBook {
    box-shadow: lightgrey 0 0 6px;
}

#page {
    padding: 20px;
    border-radius: 8px 8px 8px;
    box-shadow: lightgrey 0 0 5px;
    background-color: #fff;
}

.itemLecture{
    background-color: #406c6d;
    color: white;
    font-family: Arial;
}

.itemLecture li{
    font-family: Arial;
    display: inline-block;
    padding: 15px 15px 5px 15px;
    margin: 0 15px;
    color: lightgray;
}

.itemLecture li:hover{
    color: white;
}

.menuLecture{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    /*border-radius: 15px  15px 0  0;*/
    background-image: url("../../../ressource/img/wallpaperReader.png");
    background-size: 100%;
    background-position: center;	
}

.btn-choix{
    text-overflow: ellipsis;
    border: 3px solid #5F9EA0;
    background-color: white;
    width: 100%;
    border-radius: 8px 8px 8px;
    margin: 5px;
    padding: 5px;
    color: #5F9EA0;
    font-weight: 600;
}

.btn-choix:active{
    box-shadow: gray -1px -1px 5px;
}