.edit-text {
    height: 600px;
    border: 1px solid red; 
}

.btn-ajouter-page{
    width: 80%;
    margin-left: 7%;

}

.main{
    width: 90%;
    background-color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.menuLecture{
    background-color: #5F9EA0;
    color: white;
    padding:  30px 0;
    background-size: cover;
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid black;


}

h2,h1 {
    text-align: center;
}
h1{
    font-size: 4em;

}

.panel{
    margin-bottom: 5px;
}

#edit-text input{
    width: 90%;
    margin-top: 1%;
}

.editeur-text{
    margin-bottom: 5px;
}

.text-view .row {
    overflow: auto;
    height: 600px;

}

.main-left {
    padding: 10px;
    position: relative;
    height: 100%;
}

.main-right {
    padding: 10px;
    position: relative;
    height: 100%;
}

.row-main {
    height: 100%;
    display: table-row;
  
}

#main-center{
    padding: 10px;
    border-left: 5px double black;
    border-right: 5px double black;
    height: 100%;
    padding-bottom: 50px;

}


.container {
    border-left: 5px double black;
    border-right: 5px double black;
    display: table;
    width: 100%;
    box-sizing: border-box;
}


.page {
    border: 1px solid black;
    width: 80%;
    margin-left: 7%;
    margin-bottom: 2px;
}


.choix {
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 2px;

}

.div-btn button {
    width: 80%;
    margin-left: 15%;
}

.div-btn .btn-success {
    position: absolute;
    bottom: 0;

}

.choix label {
    position: absolute;
    border: 1px solid black;
    transition: 0.2s ease-out;
    width: 90%;
    top: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
}

.choix input {
    opacity: 0;
}

.choix label:hover {
    border: 1px solid #ff9900;
    color: #ff9900;
    cursor: pointer;
}

.choix input:checked+label {
    background-color: #ccb63b;
    color: #fff;
    border-color: #3bc4cc;
}

.page label {
    position: absolute;
    border: 1px solid black;
    transition: 0.5s ease-out;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    color:black;
}

.page input {
    opacity: 0;
}

.page label:hover {
    border: 1px solid #ff9900;
    color: #ff9900;
    cursor: pointer;
}

.page input:checked ~ label {
    background-color: #3bc4cc;
    color: #fff;
    border-color: #3bc4cc;
    margin-left: 0;
}